.start {
    overflow: hidden;
}

.start__main {
    display: flex;
    transform: translate3d(0%, 0px, 0px);
    transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
}

.start__menu {
    flex: 1 0 100%;
    padding: 10px;
    box-sizing: border-box;
}

.start__options {
    width: 100%;
    flex: 1 0 100%;
    padding: 10px;
    box-sizing: border-box;
}

.visibility_options {
    transform: translate3d(-100%, 0px, 0px);
}

.position_icon {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.start__menu__topic {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.start__menu__description {
    margin: 0px 0px 30px 0px;
}
