.profile_main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;

    padding: 10px;
}

.avatar {
    width: 206px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.form {
    flex: 1 1 auto;
    align-self: auto;
    padding-left: 15px;
}
