.forum input:-webkit-autofill,
.forum input:-webkit-autofill:hover,
.forum input:-webkit-autofill:focus,
.forum textarea:-webkit-autofill,
.forum textarea:-webkit-autofill:hover,
.forum textarea:-webkit-autofill:focus {
    border: 1px solid #000;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.forum {
    width: 700px;
}
.forum_content {
    padding: 20px 0 0;
}
.forum_add_topic {
    margin-bottom: 10px;
}
.forum_add_topic a {
    position: relative;
}
.forum_add_topic a:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid #ccc;
}
.forum_add_topic a:hover:after {
    border-bottom: none;
}
.forum_title {
    font-weight: bolder;
    margin-bottom: 10px;
}
.forum_themes {
}
.forum__theme {
    background-color: #fff;
    margin-bottom: 10px;
}
.forum__theme:hover {
    background-color: rgb(255 255 255 / 85%);
}
.forum__theme a {
    padding: 10px 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
}
.forum__theme_content {
    padding: 10px 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
}
.forum__main {
    width: calc(100% - 100px);
}
.forum_themes_title {
}
.forum_themes_text {
}
.info {
    width: 100px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.info span {
    font-size: 12px;
}
.info span  b {
    font-size: 14px;
}

article.post {
}
article.post .info {
}

.messages {
    padding-bottom: 40px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-end;
}
.message p {
    font-size: 14px;
}
.message_form {

}
.message_form form {
    padding-bottom: 12px;
}
.message_form form label {
    margin-bottom: 2px;
}
.message_form .form_text {
    margin-bottom: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.message_form label {
    font-size: 13px;
}
.message_form .form_text textarea {
    min-height: 40px;
    width: calc(100% - 120px);
}

.message_form .form_button {
    margin: 0;
}
.message {
    position: relative;
    width: calc(100% - 40px);
    margin-bottom: 10px;
}

.message_main {
    position: relative;
    padding: 10px 20px 25px;
    background-color: #fff;
    margin-bottom: 10px;
}

.message_answer {
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.message_answer:hover {
    color: #00d2ff;
}

.message .info {
    position: absolute;
    top: 10px;
    right: 10px;
}
.message .info span {
    font-size: 12px;
    margin-right: 10px;
}
.message .info span b {
    font-size: 14px;
}
.answers {
    position: relative;
}

.btn_answer {
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn_answer:hover {
    color: #00d2ff;
}

.answer_main {
    border-left: 1px solid #ccc;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-end;
}

.answer {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    margin-bottom: 10px;
}

.answer span {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.message .message_form,
.answer .message_form {
    position: static;
    padding-top: 10px;
    margin-bottom: 30px;
}
.message form,
.answer form {
    padding: 0;
    background: none;
}

.forum input,
.forum textarea {
    min-height: 30px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    padding: 3px 5px;
    outline: none;
}

.forum textarea {
    resize: none;
    min-height: 150px;
}

.forum form {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.forum form div {
    margin-bottom: 20px;
    display: flex;
}

.forum form div label {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form_button {
    display: flex;
    justify-content: flex-end;
}

.form_button button {
    min-height: 30px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 3px 5px;
    outline: none;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.form_button button:disabled,
.form_button button[disabled='disabled'] {
    pointer-events: none;
    opacity: 0.7;
}

.form_button button:hover {
    filter: brightness(0.9);
}
