.signin {
    width: 360px;
    margin: auto;
}

.form__redirect {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.form__redirect a:hover{
    color: var(--link-color);
}

.description_user {
    padding-top: 10px;
    font-size: 13px;
}