.table_loaderboard {
    padding: 5px 0px;
    width: 660px;
}

.table_leaderboard_item {
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    text-align: center;
}

.table_leaderboard_item:last-of-type {
    border-bottom: none;
}

.item_number {
    width: 30px;
    padding: 0 10px;
}

.item_avatar {
    padding: 0 15px;
}

.item_avatar img {
    width: 50px;
    object-fit: contain;
}

.item_name {
    padding: 0 10px;
    flex: 1 1 auto;
    align-self: auto;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_level {
    padding: 0 10px;
    min-width: 186px;
    flex: 1 1 auto;
    align-self: auto;
}

.item_count {
    padding: 0 10px;
    width: 50px;
    font-weight: bold;
}
