.list__hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    
    margin: 20px 0px;
}

.list__levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    padding: 20px 0px;
    margin: 0 -10px;
}

.hero {
    width: 100px;
    cursor: pointer;
}

.level_elem {
    width: 50%;
    padding: 10px;
}

.level_img {
    max-width: 100%;
    cursor: pointer;
}

.hero:hover,
.level:hover {
    outline: 3px solid #0000002e;
    outline-offset: 0px;
}

.active {
    outline: 3px solid var(--button-color);
}
