.password_form {
	padding-top: 20px;
}

.button_line {
	margin: 0 -5px;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.button_line_elem {
	margin: 0 5px;
}

.edit_input {
	border-color: var(--border-input-color-ligth);
}