.server_message {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: var(--link-color);
    text-align: right;
    position: relative;
    min-height: 20px;
    top: -20px;
    margin-bottom: -20px;
}
