.btn_back_icon {
    width: 44px;
    height: 44px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    transform: rotate(180deg);
    background: #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.btn_back_icon:hover {
    filter: brightness(0.95);
}

.btn_back_icon:active {
    filter: brightness(0.9);
}